<ion-view view-title="nearBeacons">
    <ion-content class="padding has-header">
         
        
        
        	<div data-role="content">
			<h1>iBeacon + SAP HANA</h1>

			<p>Diese App zeigt den Ihnen am naechsten liegenden iBeacon an. Ausserdem werden Ihnen Events angezeigt, wenn Sie eine Region verlassen oder hineingehen.</p>

			<ul id="beacon" class="dynamic"></ul>

			<ul id="events" class="dynamic"></ul>
		</div>
        
        
        
        
        
        
    </ion-content>
</ion-view>
