<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">
    <ion-tab title="Items"  icon="ion-speakerphone" href="#/tabs/dashboard">
        <ion-nav-view name="tab-dashboard"></ion-nav-view>
    </ion-tab>
    
    <ion-tab title="Near Beacons"  icon="ion-radio-waves" href="#/tabs/dashboard" ng-show="myFunctionName()">
        <ion-nav-view name="tab-allBeacons"></ion-nav-view>
    </ion-tab>
    
     <ion-tab title="Navigate"  icon="ion-navigate" href="#/tabs/dashboard">
        <ion-nav-view name="tab-navigate"></ion-nav-view>
    </ion-tab>
        
    <ion-tab title="Log-Out" icon="ion-log-out" href="#/login">
     
    </ion-tab>
</ion-tabs>
